<% provide(:title, 'Tournaments') %>
<h1>Tournaments</h1>

<ul class = "tournaments">
  <% @tournaments.each do |tournament| %>
    <li> 
      <%= link_to tournament.name, [:admin,tournament] %>
    </li>
  <% end %>
</ul>
