<% provide(:title, @team.team_name) %>
<div class = "row">
    <aside class = "span4">
	<section>	
	    <h1>
		Team Name: <%= @team.team_name %>
		<br />
	    </h1>
  
  <% @team.wattballs.each do |player| %>
      <li> 
        <%= link_to player.first_name + " "+ player.last_name, player %>
      </li>
  <% end %>
	</section>
  <%= link_to 'Edit', edit_team_path(@team) %>
    </aside>
</div>
