<% provide(:title, @wattball.last_name) %>
<div class = "row">
    <aside class = "span4">
	<section>	
	    <h1>
		<%= @wattball.first_name %>
		<%= @wattball.last_name %>
	    </h1>
	</section>
    </aside>
</div>
