<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      is a project to make a book and screencasts to teach web development
      with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the sample application for the tutorial.
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=heriot+watt+university+edinburgh+sports+center&amp;aq=&amp;sll=57.746995,-4.687341&amp;sspn=6.101117,17.62207&amp;t=h&amp;ie=UTF8&amp;hq=heriot+watt+university+edinburgh+sports+center&amp;hnear=&amp;ll=55.908906,-3.318644&amp;spn=0.003127,0.008605&amp;z=14&amp;iwloc=A&amp;cid=8757079498320237953&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=heriot+watt+university+edinburgh+sports+center&amp;aq=&amp;sll=57.746995,-4.687341&amp;sspn=6.101117,17.62207&amp;t=h&amp;ie=UTF8&amp;hq=heriot+watt+university+edinburgh+sports+center&amp;hnear=&amp;ll=55.908906,-3.318644&amp;spn=0.003127,0.008605&amp;z=14&amp;iwloc=A&amp;cid=8757079498320237953" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </p>
