<% provide(:title, 'Directions') %>
    <h1>Directions</h1>
    <p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Heriot-Watt+University,+Edinburgh+EH14+4AS&amp;aq=&amp;sll=56.050567,-3.504639&amp;sspn=0.797614,2.202759&amp;t=h&amp;ie=UTF8&amp;hq=Heriot-Watt+University,+Edinburgh&amp;hnear=Currie+EH14+4AS,+United+Kingdom&amp;cid=8757079498320237953&amp;ll=55.910541,-3.317764&amp;spn=0.004209,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Heriot-Watt+University,+Edinburgh+EH14+4AS&amp;aq=&amp;sll=56.050567,-3.504639&amp;sspn=0.797614,2.202759&amp;t=h&amp;ie=UTF8&amp;hq=Heriot-Watt+University,+Edinburgh&amp;hnear=Currie+EH14+4AS,+United+Kingdom&amp;cid=8757079498320237953&amp;ll=55.910541,-3.317764&amp;spn=0.004209,0.00912&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:right">View Larger Map</a></small>
    </p>
