<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Welcome to the Riccarton Sports Centre Tournament</h1>

	<h2>This is the home page for the Heriot-Watt Sports Tournament.</h2>
  <% if Tournament.exists?(1) %>
    <% if DateTime.now >= Tournament.find(1).start_date %>
    <%else%>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary pull-left" %>
    <%end%>
  	<%= link_to "Reserve Tickets",new_ticket_path,class: "btn btn-large btn-primary pull-right" %>
  <%end%>
	
</div>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <%= link_to "Schedules", '/schedules' %>
    <%= link_to "Participants", '/participants' %> 
  </ul>
  <div class="tab-content">
  </div>
</div>
<div>Powered by <a href="http://www2.macs.hw.ac.uk/~js249/">Victory Lies Ahead</a></div>
