<% provide(:title, '') %>
<div class="center hero-unit">
	<h1>Welcome to the Riccarton Sports Centre Tournament</h1>

	<h2>
		This is the home page for the Heriot-Watt Sports Tournament.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to "Schedules", '/schedules' %>
<%= link_to "Participants", '/participants' %>
<div>Powered by <a href="http://www2.macs.hw.ac.uk/~js249/">Victory Lies Ahead</a></div>
