<div class="center hero-unit">
  <h1>Schedules</h1>

  <li><%= link_to 'WattBall Fixtures', matches_path,  class: "btn btn-large btn-primary" %></li>

  <h2>
    schedules for the tournament would be displayed here
  </h2>
</div>
