<div class="center hero-unit">
  <h1>Schedules</h1>
    <%#= link_to 'WattBall Fixtures', matches_path,  class: "btn btn-large btn-primary" %>
    <%= link_to 'Hurdle Heats', heats_path, class: "btn btn-large btn-primary" %>
  <h2>
    schedules for the tournament would be displayed here
  </h2>
</div>
