<% provide(:title, 'Hurdle Heats') %>
<h1>Hurdle heats</h1>

<ul class = "heats">
  <% @heats.each do |heat| %>
    <li> 
      <%= link_to heat.time.strftime('%e/%-m/%y %k:%M:%S'), heat %>
    </li>
  <% end %>
</ul>
