<% provide(:title, 'Hurdle Heats') %>
<h1>Hurdle heats</h1>

<ul class = "heats">
  <% @heats.each do |heat| %>
    <li>
      <%= link_to heat.time.strftime('%e %b %Y %k:%M:%S')+" "+heat.gender+" "+heat.round.to_s, heat %>
    </li>
  <% end %>
</ul>
