<% provide(:title, @heat.time) %>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        <%= @heat.time %>
        <%= @heat.gender %>
        Hurdle Racers:
        <ul>
          <% @heat.hurdles.each do |hurdle| %>
            <li><%= hurdle.name %></li>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>
