<% provide(:title, @heat.time) %>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        When: <%= @heat.time.strftime('%e %b %Y %k:%M:%S') %> <br />
        Hurdle Racers:
        <ul>
          <% @heat.hurdles.each do |hurdle| %>
            <%= finish_time = HeatHurdle.find_by_heat_id_and_hurdle_id(@heat,hurdle.id).finish_time %>
            <li><%= hurdle.name %> <%= finish_time.strftime('%H:%M:%S') if finish_time!=nil %></li>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>
