<% provide(:title, @heat.time) %>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        <%= @heat.time %>
        <%= @heat.gender %>
        Hurdle Racers:
        <ul>
          <% @heat.hurdles.each do |hurdle| %>
            <li><%= hurdle.name %> <%= hurdle.heat_hurdles.find_by_heat_id(@heat).finish_time.strftime('%H:%M:%S') %></li>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>
