<% provide(:title, @heat.time) %>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        <%= @heat.time %>
        <%= @heat.gender %>
      </h1>
    </section>
  </aside>
</div>
