<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>
<li><%= link_to 'Manage Users', admin_users_path %></li>
<li><%= link_to 'Manage Teams', # %><sdsd


<%= link_to "Sign out", admin_staffsignout_path, method: "delete" %>

