<% provide(:title, @user.first_name) %>
<div class = "row">
	<aside class = "span4">
		<section>	
		<h1>
		    <%= gravatar_for @user %>
		    <a href = "http://gravatar.com/emails">change</a>
		    <%= @user.first_name %>
		    <%= @user.last_name %>
		</h1>
	</section>
</aside>
</div>
<div class = "image_menu">
    <a href="/wattball/new">Add team</a><br />
</div>
<div class = "image_menu">
    <a href="/hurdles/new">Add athlete</a>
</div>
