<% provide(:title, @user.name) %>
<div class = "row">
	<aside class = "span4">
		<section>	
		<h1>
			<%= gravatar_for @user %>
			<a href = "http://gravatar.com/emails">change</a>
			<%= @user.name %>
		</h1>
	</section>
</aside>
</div>