<% provide(:title, 'All hurdle athletes') %>
<h1> All hurdle athletes</h1>

<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
	<tr>
		<th>Name</th>
		<th>Gender</th>
		<th>Qualification Time</th>
		<th>Round</th>
	</tr>
	<% @hurdles.each do |hurdle| %>
		<tr>
			<td><%= link_to hurdle.name, hurdle %></td>
			<td><%= hurdle.gender %></td>
			<td><%= hurdle.qualification.strftime('%H:%M:%S') %></td>
			<td><%= hurdle.round %></td>
		</tr>
	<% end %>
</table>
