<% provide(:title, @hurdle.last_name) %>
<div class = "row">
    <aside class = "span4">
	<section>	
	    <h1>
		Name: <%= @hurdle.first_name %>
		<%= @hurdle.last_name %>
		<br />
		<% if (@hurdle.gender <=> 'm') == 0 %>
		    <% @printGender = 'Male' %>
		<% else %>
		    <% @printGender = 'Female' %>
		<% end %>

		Gender: <%= @printGender %>
		<% if @hurdle.qualification %>
		    <br />
		    Qualification time: <%= @hurdle.qualification %>
		<% end %>
	    </h1>
	</section>
    </aside>
</div>
