<% provide(:title, 'All wattball team members') %>
<h1> All wattball member</h1>

<ul class = "wattballs">
    <% @wattballs.each do |wattball| %>
        <li> 
	    <%= link_to wattball.first_name + " "+ wattball.last_name, wattball %>
	</li>
    <% end %>
</ul>
