<% provide(:title , 'Wattball team registration') %>
<h1>Wattball team registration</h1>
<div class="row">
	<div class="span6 offset3">
	    <%= form_for([@wattball]) do |f| %>
		<%= render 'shared/error_messages', entity: @wattball %>
		
		
		<%# (1..11).each do |i| %>
		    <%#= render 'shared/name_field', form: f, counter: i %>
		<%# end %>
		<div id = "dynamic_field" >

		</div>
		<%= submit_tag "Test me!", :type => 'button', :onclick => 'addInput("dynamic_field")' , class: "btn btn-large btn-primary" %>

		<%= f.submit "Register", class: "btn btn-large btn-primary" %>
	    <% end %>
	</div>
</div>
