.topnav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.topnav li {
  display: block;
  background: #000;
  position: relative;
  float: left;
}
.subnav { display: none; }
.topnav li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
  margin-left: 1px;
  white-space: nowrap;
}
.topnav li a:hover { background: #000; }
.topnav li:hover ul {
  display: block;
  position: absolute;
}
.topnav li:hover li {
  float: none;
  font-size: 11px;
}
.topnav li:hover a { background: #000; }
.topnav li:hover li a:hover { background: #000; }
