// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fix to bootstrap css
select {
	min-height:2.8em;
}
select[id^='heat_heat_hurdles_attributes'] {
	max-width:5em;
}
.span4 {
	margin-top: 1em;
	min-width: 100%;
}
.controlButtons {
	margin-top: 1em;
}
