<% if @user.sport == "wattball" %>
	<div class = "image_menu">
		<a href="/teams/new">Add team</a><br />  
	</div>
	<% else %> 
	<div class = "image_menu">
		<a href="/hurdles/new">Add athlete</a>
	</div>
<% end %>
